<%- include('../header') %>

    <div class="page-wrapper">
        <div class="page-breadcrumb">
            <div class="row">
                <div class="col-12 d-flex no-block align-items-center">
                    <h4 class="page-title">Add Category</h4>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <form class="form-horizontal" method="post" enctype="multipart/form-data"
                            action="/category/add-category">
                            <div class="card-body">
                                <h4 class="card-title">Category Info</h4>

                                <div class="form-group row">
                                    <label class="col-sm-3 text-right control-label col-form-label">Category
                                        Name</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" name="categoryName"
                                            placeholder="Enter Category Name" required>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-3 text-right control-label col-form-label">File Upload</label>
                                    <div class="col-md-9">
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input" name="categoryImage" required>
                                            <label class="custom-file-label">Choose file...</label>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="border-top">
                                <div class="card-body">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include('../footer') %>